@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

:root{
    --laranja: #F2A71B;
    --bege: #BFB78F;
    --cinza: #A5A692;
    --verde01: #025E73;
    --verde02: #011F26;
    --fonte-principal: 'Arial', sans-serif;
}




body {
    font-family: var(--fonte-principal);
    min-height: 400px;
    background-color: var(--cinza);
    background-size: 50vh;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: var(--laranja);
    text-align: center;
    padding: 3vw 2vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    height: 15vh;

}

.page-title {
    color:#ffffff;
    font-size: 3vh;
    padding-top: 3vw;
}

.page-subtitle {
    color:#ffffff;
    margin-top: 5px;
    font-size: 3vh;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.aluno {
    max-width: 800px;
    background-color: var(--verde02);
    text-align: center;
    padding: 60px 30px 10px 30px;
    height: 30vh;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    border-radius: 0px 0px 10px 10px;
}

.imagem {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

img {
    max-height: 35vh;

}

main {
    color: white;
    /*margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    padding: 30px;
    background-color: #589A8D;
    border-radious: 10px;*/
}

input {
    padding: 5px 0px;
}

button {
padding: 10px;
margin: 10px;
color: #F2E3D5;
background-color: #026773;
font-family: 'Roboto Mono',monospace;
border-style: none;
cursor: pointer;
}

button:hover {
background-color: #023535;
}

footer {
    background-color: var(--verde01);
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

p > a:hover {
    background-color: var(--verde02);
    padding: 10px;
}

label {
    color: white;
    padding: 10px;
    font-family: 'Roboto Mono',monospace;
    border-style: none;
    border-radious: 5px;
    }

    button {
    padding: 10px;
    margin: 10px;
    color: #F2E3D5;
    background-color: #026773;
    font-family: 'Roboto Mono',monospace;
    border-style: none;
    cursor: pointer;
    }

    button:hover {
    background-color: #023535;
    }
