@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px){
    #id-icone {
        display: none;
    }
}

body {
    background-color: rgb(195, 202, 209);
}

header {
    background-image: url(../imagens/cachoeira3.jpg);
    height: 50vh;
    margin: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.contato {
    background-image: url(../imagens/cachoeira4.jpeg);
    height: 35vh;

}
header.cachoeira {
    background-image: url(../imagens/cachoeira2.jpg);
    height: 35vh;

}

h1 {
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658);
    text-align: center;
    padding: 15vh;
    font-size: 5vh;
}


menu {
    text-align: center;
    background-color: rgba(220, 220, 220, 0.356);
    margin-top: 8vh;

}
menu.contato{
    margin-top: -6vh;
}

menu.cachoeira{
    margin-top: -6vh;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    line-height: 5vh;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.815);

}

li {
    text-decoration: none;
    display: inline-block;
    width: 32vw;
}

li:hover {
    background-color: rgba(180, 178, 178, 0.63);

}

main {
    background-color: whitesmoke;
    width: 50vw;
    border-radius: 5px;
    margin: auto;
    padding: 15px;
    margin-top: 4vh;
}

h2 {
    padding-bottom: 2vh;
}

article > p {
    line-height: 4vh;
    text-align: justify;
    padding: 4vh;
}

#principal{
    width: 40vw;
    text-align: center;
    position: center;
    padding: 2vh;
}

#principal p {
    padding: 10px;

}

#caixatexto {
    text-align: center;
}

#botao {
    text-align: center;
}

.lista-cachoeira > ul{
    list-style-type: none;
}

.lista-cachoeira {
    padding: 8px;
    line-height: 4.5vh;
}

.lista-cachoeira li:hover{
    background-color: rgba(212, 206, 206, 0.411);
}

footer {
    background-color: rgba(77, 76, 76, 0.753);
    margin-top: 8vh;

}

footer > p {
    color: white;
    font-weight: bold;
    text-align: center;
}
