@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-image: url(../imagens/cachoeira3.jpg);
    height: 70vh;
    margin: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
