@charset "UTF-8";


@media screen and (min-width: 768px){ /*tablet*/
    main {
        width: 70vw;
        height: 70vh;
    }
    #inicio {
        margin: 5vh 1vh 2vh 1vh;
    }
    #itag {
        width: 150px;
        height: 30px;
        padding: 5px;
        margin: 10px;

    }
    /*BOTÕES*/
    .btn {
        padding: 5px;
        font-size: .8em;
    }

    .btn:hover {
        background-color: var(--detail);
        color: black;
    }

    #limpar-btn {
        float: right;
        margin-right: 5vw;
    }
    /*TAGS*/
    .container {
        max-width: 60vw;
    }

    .tag-item {
        margin: 8px;
    }
}


@media screen and (min-width: 992px) { /*desktop*/
    #inicio {
        margin: 10vh 15vh 5vh 15vh;
    }
    #itag {
        padding: 10px;
        font-size: 1.05em;
    }
    .container {
        max-width: 50vw;
    }
    #limpar-btn {
        float: right;
        margin: 2vw 10vw;
    }
}

@media screen and (min-width: 1200px) { /*telas grandes*/
    #inicio {
        margin: 10vh 20vh 5vh 20vh;
    }
    main {
        max-width: 900px;
    }
    /*TAGS*/
    .container {
        max-width: 600px;
    }

}


