@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@media screen and (min-width: 768px) {
    h1 {
        margin: 10vh 0;
        font-size: 4vh;
    }

    .time-container{
        width: 600px;
        /* margin: auto; */
    }
    .time-container ul{
        flex-wrap: nowrap;
        align-items: center;
    }
    #buttons {
        padding-top: 50px;
        max-width: 600px;
        margin: auto;
    }

    .btn{
        padding: 20px;
        margin: 50px 0px;
        font-size: 1.2em;
    }

    footer{
        font-size: 1.8vh;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        margin: 5vh 0;
        font-size: 5vh;
    }
    .time-container{
        width: 900px;
    }
    .time-data {
        width: 250px;
        height: 250px;
        padding: 20px;
    }
    .time-number{
        font-size: 5em;
    }
    .time-info {
        font-size: 2em;
        color: rgb(141, 103, 179);
    }

    @keyframes ball-animation {
        0%{
            transform: translate(0px, 0px);
        }
        12.5%{
            transform: translate(0px, -100px);
        }
        37.5% {
            transform: translate(180px, -100px);
        }
        62.5% {
            transform: translate(180px, 100px);
        }
        87.5% {
            transform: translate(0px, 100px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }

}
