@charset "UTF-8";

@font-face {
    font-family: 'Barber';
    src: url("fontes/Barber\ Street\ _PersonalUseOnly.ttf") format('.ttf');
}

* {
    margin: 0;
    padding: 0;

}



:root {
    --font-titulo: 'Barber', sans-serif;
}


body {
    background-color: rgba(0, 0, 0, 0.37);
    background-size: 100%;
    min-height: 100vh;

}

header {
    background-color: darkgray;
    background-image: url(imagens/cabecalho.jpeg);
    background-size: 100%;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.37);
    background-repeat: no-repeat;
    max-width: 100vw;
}

#perfil {
    padding: 80px 80px 20px 80px;
}

#perfil img {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #612d2c 0%, #2e2a35 50.52%, #635835 100%);
    padding: 5px;
    width: 200px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.644);
    max-height: 100vh;
    max-width: 100vw;
}

#perfil img:hover {
    transform: scale(1.1);

}

header > h1 {
    font-family: var(--font-titulo);
    text-align: center;
    padding: 10px;
    font-size: 3.5vw;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
}

section {
    text-align: justify;
    /*padding: 33vh 30px 25vh 10vw;*/
    max-height: 100vh;
}

section > h1 {
    font-family: var(--font-titulo);
    padding: 10px;
    font-size: 3vw;
    color: white;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
}

.foto-direita {
    background-image: url(imagens/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10vh 0px;
    padding: 20px;
    height: 100vh;

}
/*p {
    font-size: 2vw;
    color: white;
    /*padding: 20px;*/
    /*line-height: 2vw;
    size: 100%;
    max-width: 100vw;*/

    /*background-color: #612d2c33;*/



.foto-direita > p {
    background-color: rgba(0, 0, 0, 0.226);
    padding: 10px;
    display: inline-block;
    color: white;
    max-width: 100vh;
    font-size: 2.3vw;
    line-height: 2.5vw;

}

.normal {
    padding: 5vh;
}

.normal > p {
    max-width: 100vh;
    margin:auto;
    color: black;
    font-size: 2.3vw;
    line-height: 2.5vw;


}

h2 {
    font-family: var(--font-titulo);
    padding: 10px;
    font-size: 2vw;
    color: black;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
}

footer p {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 1vw;

}
