@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --verde: #A9D9D9;
    --lilas: #6663A6;
    --roxo: #653E8C;
    --magenta: #8B3E8C;
    --rosa: #D9A3CA;
    --fontgame: 'Silkscreen', cursive;
    --fontpadrao: 'Arial' , sans-serif;
}

body html {
    background-color: var(--lilas);
    font-family: var(--fontpadrao);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--lilas);
}

section#login {
    background-color: var(--verde);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, heigth .3s;
    transition-timing-function: ease;
}


section#login > div#imagem{
    background: var(--verde) url(../imagens/imagem.jpg) no-repeat;
    display: block;
    background-size: cover;
    height: 160px;
    background-position: left bottom;
    border-radius: 10px 10px 0px 0px;
}

#formulario > h1 {
    font-family: var(--fontgame);
    font-size: 2.5em;
    text-align: center;
    color: var(--roxo);
    font-weight: bolder;
    margin: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
}

#formulario > h3 {
    font-family: var(--fontgame);
    color: var(--magenta);
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
}

#formulario > p {
    font-family: var(--fontgame);
    color: var(--magenta);
    padding: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);

}

.campo {
    text-align: center;

}

#principal {
    border-radius: 10px;
    background-color: white;
    margin: 0px 5px 0px 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
}

i {
    color: var(--roxo);
    margin-top: 5px;
}

.campo > input {
    height: 30px;
    width: 80%;
    border: 1px solid #653e8c6b;
    padding: 5px 0px 5px 0px;
}

input:focus-within {
    color: var(--roxo);
}

.botao {
    display: block;
    text-align: center;
    color: var(--roxo);
    background-color: #d9a3cab9;
    border-radius: 7px;
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    font-family: var(--fontgame);
    border: none;
    margin-left: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
}

.botao:hover {
    background-color: var(--lilas);
    color: white;
    font-size: 1.3em;
}

.esqueci-senha {
    display: block;
    text-align: center;
    color: var(--roxo);
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.esqueci-senha:hover {
    color: white;
    font-size: 0.85em;
}

footer {
    background-color: var(--rosa);
    color: white;
    font-family: var(--fontpadrao);
    padding: 8px 0px 8px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 0.85em;
    width: 100vw;
}

footer > p > a {
    color: white;
    text-decoration: none;

}

footer > p > a:hover {
    color: var(--magenta);
}
