@import './_mixin';

.btn-container {
    @include flex(row, center, center, 80%, nowrap);
    // padding: 16px;
    @media screen and (min-width: 1200px){
        gap: 400%;

        button {
            padding: 16px;
            font-size: 16px;
            font-weight: bold;
        }
    }

}

.submit-btn {
    @include borderAndShadow(1px, $primary);
    border-radius: 4px;
    background-color: $primary;
    padding: 8px;
    color: white;

    @media screen and (min-width: 1200px){

    }

    &:hover {
        @include borderAndShadow(1px, $button);
        background-color: $button;
        cursor: pointer;
        scale: 1.02;
    }
}

.reset-btn {
    border: none;
    padding: 8px;
    color: #eee;
    background-color: transparent;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        scale: 1.1;
    }
}
