@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


$primary: #277E7F;
$secondary: #024B71;
$button: #6CA6A8;
$bg: linear-gradient($primary, $secondary);
$font: 'Roboto', sans-serif;
